extends layout

block content
    section#error.container.text-center
      h1 404, Page not found
      p The Page you are looking for doesn't exist or an other error occurred.
      a.btn.btn-primary(href='index.html') GO BACK TO THE HOMEPAGE