extends layout

block content
    section#about-us
      .container
        .center.wow.fadeInDown
          h2 About Corlate
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        // about us slider
        #about-slider
          #carousel-slider.carousel.slide(data-ride='carousel')
            // Indicators
            ol.carousel-indicators.visible-xs
              li.active(data-target='#carousel-slider', data-slide-to='0')
              li(data-target='#carousel-slider', data-slide-to='1')
              li(data-target='#carousel-slider', data-slide-to='2')
            .carousel-inner
              .item.active
                img.img-responsive(src='../img/slider_one.jpg', alt='')
              .item
                img.img-responsive(src='../img/slider_one.jpg', alt='')
              .item
                img.img-responsive(src='../img/slider_one.jpg', alt='')
            a.left.carousel-control.hidden-xs(href='#carousel-slider', data-slide='prev')
              i.fa.fa-angle-left
            a.right.carousel-control.hidden-xs(href='#carousel-slider', data-slide='next')
              i.fa.fa-angle-right
          // /#carousel-slider
        // /#about-slider
        // Our Skill
        .skill-wrap.clearfix
          .center.wow.fadeInDown
            h2 Our Skill
            p.lead
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
              br
              |  et dolore magna aliqua. Ut enim ad minim veniam
          .row
            .col-sm-3
              .sinlge-skill.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
                .joomla-skill
                  p
                    em 85%
                  p Joomla
            .col-sm-3
              .sinlge-skill.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
                .html-skill
                  p
                    em 95%
                  p HTML
            .col-sm-3
              .sinlge-skill.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='900ms')
                .css-skill
                  p
                    em 80%
                  p CSS
            .col-sm-3
              .sinlge-skill.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='1200ms')
                .wp-skill
                  p
                    em 90%
                  p Wordpress
        // /.our-skill
        // our-team
        .team
          .center.wow.fadeInDown
            h2 Team of Corlate
            p.lead
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
              br
              |  et dolore magna aliqua. Ut enim ad minim veniam
          .row.clearfix
            .col-md-4.col-sm-6
              .single-profile-top.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
                .media
                  .pull-left
                    a(href='#')
                      img.media-object(src='../img/man1.jpg', alt='')
                  .media-body
                    h4 Jhon Doe
                    h5 Founder and CEO
                    ul.tag.clearfix
                      li.btn
                        a(href='#') Web
                      li.btn
                        a(href='#') Ui
                      li.btn
                        a(href='#') Ux
                      li.btn
                        a(href='#') Photoshop
                    ul.social_icons
                      li
                        a(href='#')
                          i.fa.fa-facebook
                      li
                        a(href='#')
                          i.fa.fa-twitter
                      li
                        a(href='#')
                          i.fa.fa-google-plus
                // /.media
                p
                  | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            // /.col-lg-4
            .col-md-4.col-sm-6.col-md-offset-2
              .single-profile-top.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
                .media
                  .pull-left
                    a(href='#')
                      img.media-object(src='../img/man2.jpg', alt='')
                  .media-body
                    h4 Jhon Doe
                    h5 Founder and CEO
                    ul.tag.clearfix
                      li.btn
                        a(href='#') Web
                      li.btn
                        a(href='#') Ui
                      li.btn
                        a(href='#') Ux
                      li.btn
                        a(href='#') Photoshop
                    ul.social_icons
                      li
                        a(href='#')
                          i.fa.fa-facebook
                      li
                        a(href='#')
                          i.fa.fa-twitter
                      li
                        a(href='#')
                          i.fa.fa-google-plus
                // /.media
                p
                  | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            // /.col-lg-4
          // /.row
          .row.team-bar
            .first-one-arrow.hidden-xs
              hr
            .first-arrow.hidden-xs
              hr
              i.fa.fa-angle-up
            .second-arrow.hidden-xs
              hr
              i.fa.fa-angle-down
            .third-arrow.hidden-xs
              hr
              i.fa.fa-angle-up
            .fourth-arrow.hidden-xs
              hr
              i.fa.fa-angle-down
          // skill_border
          .row.clearfix
            .col-md-4.col-sm-6.col-md-offset-2
              .single-profile-bottom.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='600ms')
                .media
                  .pull-left
                    a(href='#')
                      img.media-object(src='../img/man3.jpg', alt='')
                  .media-body
                    h4 Jhon Doe
                    h5 Founder and CEO
                    ul.tag.clearfix
                      li.btn
                        a(href='#') Web
                      li.btn
                        a(href='#') Ui
                      li.btn
                        a(href='#') Ux
                      li.btn
                        a(href='#') Photoshop
                    ul.social_icons
                      li
                        a(href='#')
                          i.fa.fa-facebook
                      li
                        a(href='#')
                          i.fa.fa-twitter
                      li
                        a(href='#')
                          i.fa.fa-google-plus
                // /.media
                p
                  | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            .col-md-4.col-sm-6.col-md-offset-2
              .single-profile-bottom.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='600ms')
                .media
                  .pull-left
                    a(href='#')
                      img.media-object(src='../img/man4.jpg', alt='')
                  .media-body
                    h4 Jhon Doe
                    h5 Founder and CEO
                    ul.tag.clearfix
                      li.btn
                        a(href='#') Web
                      li.btn
                        a(href='#') Ui
                      li.btn
                        a(href='#') Ux
                      li.btn
                        a(href='#') Photoshop
                    ul.social_icons
                      li
                        a(href='#')
                          i.fa.fa-facebook
                      li
                        a(href='#')
                          i.fa.fa-twitter
                      li
                        a(href='#')
                          i.fa.fa-google-plus
                // /.media
                p
                  | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          // /.row
        // section
      // /.container
    // /about-us
