!= js()
    section#bottom
      .container.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
        .row
          .col-md-3.col-sm-6
            .widget
              h3 Company
              ul
                li
                  a(href='#') About us
                li
                  a(href='#') We are hiring
                li
                  a(href='#') Meet the team
                li
                  a(href='#') Copyright
                li
                  a(href='#') Terms of use
                li
                  a(href='#') Privacy policy
                li
                  a(href='#') Contact us
          // /.col-md-3
          .col-md-3.col-sm-6
            .widget
              h3 Support
              ul
                li
                  a(href='#') Faq
                li
                  a(href='#') Blog
                li
                  a(href='#') Forum
                li
                  a(href='#') Documentation
                li
                  a(href='#') Refund policy
                li
                  a(href='#') Ticket system
                li
                  a(href='#') Billing system
          // /.col-md-3
          .col-md-3.col-sm-6
            .widget
              h3 Developers
              ul
                li
                  a(href='#') Web Development
                li
                  a(href='#') SEO Marketing
                li
                  a(href='#') Theme
                li
                  a(href='#') Development
                li
                  a(href='#') Email Marketing
                li
                  a(href='#') Plugin Development
                li
                  a(href='#') Article Writing
          // /.col-md-3
          .col-md-3.col-sm-6
            .widget
              h3 Our Partners
              ul
                li
                  a(href='#') Adipisicing Elit
                li
                  a(href='#') Eiusmod
                li
                  a(href='#') Tempor
                li
                  a(href='#') Veniam
                li
                  a(href='#') Exercitation
                li
                  a(href='#') Ullamco
                li
                  a(href='#') Laboris
    footer#footer.midnight-blue
      .container
        .row
          .col-sm-6
            | © 2016 
            a(target='_blank', href='http://webfactories.biz/', title='Free Twitter Bootstrap WordPress Themes and HTML templates') Webfactories
            | . All Rights Reserved.
          .col-sm-6
            ul.pull-right
              li
                a(href='#') Home
              li
                a(href='#') About Us
              li
                a(href='#') Faq
              li
                a(href='#') Contact Us

script(src='../js/jquery.js')
script(src='../js/bootstrap.min.js')
script(src='../js/jquery.prettyPhoto.js')
script(src='../js/jquery.isotope.min.js')
script(src='../js/all.js')
script(src='../js/wow.min.js')