html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    title Corlate Template

    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/font-awesome.min.css', rel='stylesheet')
    link(href='../css/animate.min.css', rel='stylesheet')
    link(href='../css/prettyPhoto.css', rel='stylesheet')
    link(href='../css/main.css', rel='stylesheet')
    link(href='../css/responsive.css', rel='stylesheet')
    //if lt IE 9
      script(src='../js/html5shiv.js')
      script(src='../js/respond.min.js')
    link(rel='shortcut icon', href='../img/ico/favicon.ico')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='../img/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='../img/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='../img/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='../img/ico/apple-touch-icon-57-precomposed.png')

    title= _path
    != css()
    header#header
      .top-bar
        .container
          .row
            .col-sm-6.col-xs-4
              .top-number
                p
                  i.fa.fa-phone-square
                  |   +0123 456 70 90
            .col-sm-6.col-xs-8
              .social
                ul.social-share
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-linkedin
                  li
                    a(href='#')
                      i.fa.fa-dribbble
                  li
                    a(href='#')
                      i.fa.fa-skype
                .search
                  form(role='form')
                    input.search-form(type='text', autocomplete='off', placeholder='Search')
                    i.fa.fa-search
        // /.container
      // /.top-bar
      nav.navbar.navbar-inverse(role='banner')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='index.html')
              img(src='../img/logo.png', alt='logo')
          .collapse.navbar-collapse.navbar-right
            ul.nav.navbar-nav
              li.active
                a(href='index.html') Home
              li
                a(href='about-us.html') About Us
              li
                a(href='services.html') Services
              li
                a(href='portfolio.html') Portfolio
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Pages 
                  i.fa.fa-angle-down
                ul.dropdown-menu
                  li
                    a(href='blog-item.html') Blog Single
                  li
                    a(href='pricing.html') Pricing
                  li
                    a(href='404.html') 404
                  li
                    a(href='shortcodes.html') Shortcodes
              li
                a(href='blog.html') Blog
              li
                a(href='contact-us.html') Contact
        // /.container
      // /nav
    // /header
