extends layout

block content
    section#main-slider.no-margin
      .carousel.slide
        ol.carousel-indicators
          li.active(data-target='#main-slider', data-slide-to='0')
          li(data-target='#main-slider', data-slide-to='1')
          li(data-target='#main-slider', data-slide-to='2')
        .carousel-inner
          .item.active(style='background-image: url(../img/slider/bg1.jpg)')
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content
                    h1.animation.animated-item-1 Lorem ipsum dolor sit amet consectetur adipisicing elit
                    h2.animation.animated-item-2 Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...
                    a.btn-slide.animation.animated-item-3(href='#') Read More
                .col-sm-6.hidden-xs.animation.animated-item-4
                  .slider-img
                    img.img-responsive(src='../img/slider/img1.png')
          // /.item
          .item(style='background-image: url(../img/slider/bg2.jpg)')
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content
                    h1.animation.animated-item-1 Lorem ipsum dolor sit amet consectetur adipisicing elit
                    h2.animation.animated-item-2 Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...
                    a.btn-slide.animation.animated-item-3(href='#') Read More
                .col-sm-6.hidden-xs.animation.animated-item-4
                  .slider-img
                    img.img-responsive(src='../img/slider/img2.png')
          // /.item
          .item(style='background-image: url(../img/slider/bg3.jpg)')
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content
                    h1.animation.animated-item-1 Lorem ipsum dolor sit amet consectetur adipisicing elit
                    h2.animation.animated-item-2 Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...
                    a.btn-slide.animation.animated-item-3(href='#') Read More
                .col-sm-6.hidden-xs.animation.animated-item-4
                  .slider-img
                    img.img-responsive(src='../img/slider/img3.png')
          // /.item
        // /.carousel-inner
      // /.carousel
      a.prev.hidden-xs(href='#main-slider', data-slide='prev')
        i.fa.fa-chevron-left
      a.next.hidden-xs(href='#main-slider', data-slide='next')
        i.fa.fa-chevron-right
    // /#main-slider
    section#feature
      .container
        .center.wow.fadeInDown
          h2 Features
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        .row
          .features
            .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
              .feature-wrap
                i.fa.fa-bullhorn
                h2 Fresh and Clean
                h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            // /.col-md-4
            .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
              .feature-wrap
                i.fa.fa-comments
                h2 Retina ready
                h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            // /.col-md-4
            .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
              .feature-wrap
                i.fa.fa-cloud-download
                h2 Easy to customize
                h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            // /.col-md-4
            .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
              .feature-wrap
                i.fa.fa-leaf
                h2 Adipisicing elit
                h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            // /.col-md-4
            .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
              .feature-wrap
                i.fa.fa-cogs
                h2 Sed do eiusmod
                h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            // /.col-md-4
            .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
              .feature-wrap
                i.fa.fa-heart
                h2 Labore et dolore
                h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            // /.col-md-4
          // /.services
        // /.row
      // /.container
    // /#feature
    section#recent-works
      .container
        .center.wow.fadeInDown
          h2 Recent Works
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        .row
          .col-xs-12.col-sm-4.col-md-3
            .recent-work-wrap
              img.img-responsive(src='../img/portfolio/recent/item1.png', alt='')
              .overlay
                .recent-work-inner
                  h3
                    a(href='#') Business theme
                  p There are many variations of passages of Lorem Ipsum available, but the majority
                  a.preview(href='../img/portfolio/full/item1.png', rel='prettyPhoto')
                    i.fa.fa-eye
                    |  View
          .col-xs-12.col-sm-4.col-md-3
            .recent-work-wrap
              img.img-responsive(src='../img/portfolio/recent/item2.png', alt='')
              .overlay
                .recent-work-inner
                  h3
                    a(href='#') Business theme
                  p There are many variations of passages of Lorem Ipsum available, but the majority
                  a.preview(href='../img/portfolio/full/item2.png', rel='prettyPhoto')
                    i.fa.fa-eye
                    |  View
          .col-xs-12.col-sm-4.col-md-3
            .recent-work-wrap
              img.img-responsive(src='../img/portfolio/recent/item3.png', alt='')
              .overlay
                .recent-work-inner
                  h3
                    a(href='#') Business theme 
                  p There are many variations of passages of Lorem Ipsum available, but the majority
                  a.preview(href='../img/portfolio/full/item3.png', rel='prettyPhoto')
                    i.fa.fa-eye
                    |  View
          .col-xs-12.col-sm-4.col-md-3
            .recent-work-wrap
              img.img-responsive(src='../img/portfolio/recent/item4.png', alt='')
              .overlay
                .recent-work-inner
                  h3
                    a(href='#') Business theme 
                  p There are many variations of passages of Lorem Ipsum available, but the majority
                  a.preview(href='../img/portfolio/full/item4.png', rel='prettyPhoto')
                    i.fa.fa-eye
                    |  View
          .col-xs-12.col-sm-4.col-md-3
            .recent-work-wrap
              img.img-responsive(src='../img/portfolio/recent/item5.png', alt='')
              .overlay
                .recent-work-inner
                  h3
                    a(href='#') Business theme
                  p There are many variations of passages of Lorem Ipsum available, but the majority
                  a.preview(href='../img/portfolio/full/item5.png', rel='prettyPhoto')
                    i.fa.fa-eye
                    |  View
          .col-xs-12.col-sm-4.col-md-3
            .recent-work-wrap
              img.img-responsive(src='../img/portfolio/recent/item6.png', alt='')
              .overlay
                .recent-work-inner
                  h3
                    a(href='#') Business theme 
                  p There are many variations of passages of Lorem Ipsum available, but the majority
                  a.preview(href='../img/portfolio/full/item6.png', rel='prettyPhoto')
                    i.fa.fa-eye
                    |  View
          .col-xs-12.col-sm-4.col-md-3
            .recent-work-wrap
              img.img-responsive(src='../img/portfolio/recent/item7.png', alt='')
              .overlay
                .recent-work-inner
                  h3
                    a(href='#') Business theme 
                  p There are many variations of passages of Lorem Ipsum available, but the majority
                  a.preview(href='../img/portfolio/full/item7.png', rel='prettyPhoto')
                    i.fa.fa-eye
                    |  View
          .col-xs-12.col-sm-4.col-md-3
            .recent-work-wrap
              img.img-responsive(src='../img/portfolio/recent/item8.png', alt='')
              .overlay
                .recent-work-inner
                  h3
                    a(href='#') Business theme 
                  p There are many variations of passages of Lorem Ipsum available, but the majority
                  a.preview(href='../img/portfolio/full/item8.png', rel='prettyPhoto')
                    i.fa.fa-eye
                    |  View
        // /.row
      // /.container
    // /#recent-works
    section#services.service-item
      .container
        .center.wow.fadeInDown
          h2 Our Service
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        .row
          .col-sm-6.col-md-4
            .media.services-wrap.wow.fadeInDown
              .pull-left
                img.img-responsive(src='../img/services/services1.png')
              .media-body
                h3.media-heading SEO Marketing
                p Lorem ipsum dolor sit ame consectetur adipisicing elit
          .col-sm-6.col-md-4
            .media.services-wrap.wow.fadeInDown
              .pull-left
                img.img-responsive(src='../img/services/services2.png')
              .media-body
                h3.media-heading SEO Marketing
                p Lorem ipsum dolor sit ame consectetur adipisicing elit
          .col-sm-6.col-md-4
            .media.services-wrap.wow.fadeInDown
              .pull-left
                img.img-responsive(src='../img/services/services3.png')
              .media-body
                h3.media-heading SEO Marketing
                p Lorem ipsum dolor sit ame consectetur adipisicing elit
          .col-sm-6.col-md-4
            .media.services-wrap.wow.fadeInDown
              .pull-left
                img.img-responsive(src='../img/services/services4.png')
              .media-body
                h3.media-heading SEO Marketing
                p Lorem ipsum dolor sit ame consectetur adipisicing elit
          .col-sm-6.col-md-4
            .media.services-wrap.wow.fadeInDown
              .pull-left
                img.img-responsive(src='../img/services/services5.png')
              .media-body
                h3.media-heading SEO Marketing
                p Lorem ipsum dolor sit ame consectetur adipisicing elit
          .col-sm-6.col-md-4
            .media.services-wrap.wow.fadeInDown
              .pull-left
                img.img-responsive(src='../img/services/services6.png')
              .media-body
                h3.media-heading SEO Marketing
                p Lorem ipsum dolor sit ame consectetur adipisicing elit
        // /.row
      // /.container
    // /#services
    section#middle
      .container
        .row
          .col-sm-6.wow.fadeInDown
            .skill
              h2 Our Skills
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              .progress-wrap
                h3 Graphic Design
                .progress
                  .progress-bar.color1(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 85%')
                    span.bar-width 85%
              .progress-wrap
                h3 HTML
                .progress
                  .progress-bar.color2(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 95%')
                    span.bar-width 95%
              .progress-wrap
                h3 CSS
                .progress
                  .progress-bar.color3(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
                    span.bar-width 80%
              .progress-wrap
                h3 Wordpress
                .progress
                  .progress-bar.color4(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 90%')
                    span.bar-width 90%
          // /.col-sm-6
          .col-sm-6.wow.fadeInDown
            .accordion
              h2 Why People like us?
              #accordion1.panel-group
                .panel.panel-default
                  .panel-heading.active
                    h3.panel-title
                      a.accordion-toggle(data-toggle='collapse', data-parent='#accordion1', href='#collapseOne1')
                        | Lorem ipsum dolor sit amet
                        i.fa.fa-angle-right.pull-right
                  #collapseOne1.panel-collapse.collapse.in
                    .panel-body
                      .media.accordion-inner
                        .pull-left
                          img.img-responsive(src='../img/accordion1.png')
                        .media-body
                          h4 Adipisicing elit
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                .panel.panel-default
                  .panel-heading
                    h3.panel-title
                      a.accordion-toggle(data-toggle='collapse', data-parent='#accordion1', href='#collapseTwo1')
                        | Lorem ipsum dolor sit amet
                        i.fa.fa-angle-right.pull-right
                  #collapseTwo1.panel-collapse.collapse
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                .panel.panel-default
                  .panel-heading
                    h3.panel-title
                      a.accordion-toggle(data-toggle='collapse', data-parent='#accordion1', href='#collapseThree1')
                        | Lorem ipsum dolor sit amet
                        i.fa.fa-angle-right.pull-right
                  #collapseThree1.panel-collapse.collapse
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                .panel.panel-default
                  .panel-heading
                    h3.panel-title
                      a.accordion-toggle(data-toggle='collapse', data-parent='#accordion1', href='#collapseFour1')
                        | Lorem ipsum dolor sit amet
                        i.fa.fa-angle-right.pull-right
                  #collapseFour1.panel-collapse.collapse
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
              // /#accordion1
        // /.row
      // /.container
    // /#middle
    section#content
      .container
        .row
          .col-xs-12.col-sm-8.wow.fadeInDown
            .tab-wrap
              .media
                .parrent.pull-left
                  ul.nav.nav-tabs.nav-stacked
                    li
                      a.analistic-01(href='#tab1', data-toggle='tab') Responsive Web Design
                    li.active
                      a.analistic-02(href='#tab2', data-toggle='tab') Premium Plugin Included
                    li
                      a.tehnical(href='#tab3', data-toggle='tab') Predefine Layout
                    li
                      a.tehnical(href='#tab4', data-toggle='tab') Our Philosopy
                    li
                      a.tehnical(href='#tab5', data-toggle='tab') What We Do?
                .parrent.media-body
                  .tab-content
                    #tab1.tab-pane.fade
                      .media
                        .pull-left
                          img.img-responsive(src='../img/tab2.png')
                        .media-body
                          h2 Adipisicing elit
                          p
                            | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use.
                    #tab2.tab-pane.fade.active.in
                      .media
                        .pull-left
                          img.img-responsive(src='../img/tab1.png')
                        .media-body
                          h2 Adipisicing elit
                          p
                            | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use.
                    #tab3.tab-pane.fade
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
                    #tab4.tab-pane.fade
                      p
                        | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                    #tab5.tab-pane.fade
                      p
                        | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,
                  // /.tab-content
                // /.media-body
              // /.media
            // /.tab-wrap
          // /.col-sm-6
          .col-xs-12.col-sm-4.wow.fadeInDown
            .testimonial
              h2 Testimonials
              .media.testimonial-inner
                .pull-left
                  img.img-responsive.img-circle(src='../img/testimonials1.png')
                .media-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  span
                    strong -John Doe/
                    |  Director of corlate.com
              .media.testimonial-inner
                .pull-left
                  img.img-responsive.img-circle(src='../img/testimonials1.png')
                .media-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  span
                    strong -John Doe/
                    |  Director of corlate.com
        // /.row
      // /.container
    // /#content
    section#partner
      .container
        .center.wow.fadeInDown
          h2 Our Partners
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        .partners
          ul
            li
              a(href='#')
                img.img-responsive.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms', src='../img/partners/partner1.png')
            li
              a(href='#')
                img.img-responsive.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms', src='../img/partners/partner2.png')
            li
              a(href='#')
                img.img-responsive.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='900ms', src='../img/partners/partner3.png')
            li
              a(href='#')
                img.img-responsive.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='1200ms', src='../img/partners/partner4.png')
            li
              a(href='#')
                img.img-responsive.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='1500ms', src='../img/partners/partner5.png')
      // /.container
    // /#partner
    section#conatcat-info
      .container
        .row
          .col-sm-8
            .media.contact-info.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
              .pull-left
                i.fa.fa-phone
              .media-body
                h2 Have a question or need a custom quote?
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation +0123 456 70 80
      // /.container
    // /#conatcat-info
