extends layout

block content
    section.pricing-page
      .container
        .center
          h2 Pricing Table
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        .pricing-area.text-center
          .row
            .col-sm-4.plan.price-one.wow.fadeInDown
              ul
                li.heading-one
                  h1 Start Up
                  span $6/Month
                li 5 Gb Disk Space
                li 1GB Dadicated Ram
                li 10 Addon Domain
                li 10 Email Account
                li 24/7 Support
                li.plan-action
                  a.btn.btn-primary(href='') Sign up
            .col-sm-4.plan.price-two.wow.fadeInDown
              ul
                li.heading-two
                  h1 Standerd
                  span $12/Month
                li 10 Gb Disk Space
                li 2GB Dadicated Ram
                li 20 Addon Domain
                li 20 Email Account
                li 24/7 Support
                li.plan-action
                  a.btn.btn-primary(href='') Sign up
            .col-sm-4.plan.price-three.wow.fadeInDown
              img(src='../img/ribon_one.png')
              ul
                li.heading-three
                  h1 Premium
                  span $24/Month
                li 50 Gb Disk Space
                li 8GB Dadicated Ram
                li Unlimited Addon Domain
                li Unlimited Email Account
                li 24/7 Support
                li.plan-action
                  a.btn.btn-primary(href='') Sign up
            .col-sm-6.col-md-3.plan.price-four.wow.fadeInDown
              ul
                li.heading-four
                  h1 Basic
                  span $3/Month
                li 5 Gb Disk Space
                li 1GB Dadicated Ram
                li 10 Addon Domain
                li 10 Email Account
                li 24/7 Support
                li.plan-action
                  a.btn.btn-primary(href='') Sign up
            .col-sm-6.col-md-3.plan.price-five.wow.fadeInDown
              ul
                li.heading-five
                  h1 Standerd
                  span $6/Month
                li 5 Gb Disk Space
                li 1GB Dadicated Ram
                li 10 Addon Domain
                li 10 Email Account
                li 24/7 Support
                li.plan-action
                  a.btn.btn-primary(href='') Sign up
            .col-sm-6.col-md-3.plan.price-six.wow.fadeInDown
              img(src='../img/ribon_two.png')
              ul
                li.heading-six
                  h1 Premium
                  span $12/Month
                li 5 Gb Disk Space
                li 1GB Dadicated Ram
                li 10 Addon Domain
                li 10 Email Account
                li 24/7 Support
                li.plan-action
                  a.btn.btn-primary(href='') Sign up
            .col-sm-6.col-md-3.plan.price-seven.wow.fadeInDown
              ul
                li.heading-seven
                  h1 Developer
                  span $19/Month
                li 5 Gb Disk Space
                li 1GB Dadicated Ram
                li 10 Addon Domain
                li 10 Email Account
                li 24/7 Support
                li.plan-action
                  a.btn.btn-primary(href='') Sign up