extends layout

block content
    section#feature.transparent-bg
      .container
        .center.wow.fadeInDown
          h2 Our Services
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        .row
          .features
            .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
              .feature-wrap
                i.fa.fa-bullhorn
                h2 Fresh and Clean
                h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            // /.col-md-4
            .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
              .feature-wrap
                i.fa.fa-comments
                h2 Retina ready
                h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            // /.col-md-4
            .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
              .feature-wrap
                i.fa.fa-cloud-download
                h2 Easy to customize
                h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            // /.col-md-4
            .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
              .feature-wrap
                i.fa.fa-leaf
                h2 Adipisicing elit
                h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            // /.col-md-4
            .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
              .feature-wrap
                i.fa.fa-cogs
                h2 Sed do eiusmod
                h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            // /.col-md-4
            .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
              .feature-wrap
                i.fa.fa-heart
                h2 Labore et dolore
                h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            // /.col-md-4
          // /.services
        // /.row
        .get-started.center.wow.fadeInDown
          h2 Ready to get started
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. 
            br
            |   Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          .request
            h4
              a(href='#') Request a free Quote
        // /.get-started
        .clients-area.center.wow.fadeInDown
          h2 What our client says
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        .row
          .col-md-4.wow.fadeInDown
            .clients-comments.text-center
              img.img-circle(src='../img/client1.png', alt='')
              h3
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              h4
                span -John Doe /
                |   Director of corlate.com
          .col-md-4.wow.fadeInDown
            .clients-comments.text-center
              img.img-circle(src='../img/client2.png', alt='')
              h3
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              h4
                span -John Doe /
                |   Director of corlate.com
          .col-md-4.wow.fadeInDown
            .clients-comments.text-center
              img.img-circle(src='../img/client3.png', alt='')
              h3
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              h4
                span -John Doe /
                |   Director of corlate.com
      // /.container
    // /#feature
